extends ./layout/layout

block variables
  - var title = "Brow Pro Molfar ‘22 — Molfar Beauty Forum"
  - var description = "Чемпионат по моделированию и окрашиванию бровей в рамках международного форума Molfar"
  - var ogImage = "/img/og-image.jpg"
  - var ogImageSecure = "/img/og-image.jpg"
  - var pageModifier = "page--index"
  - var current_url = "/brow-pro.html"

block content
