extends ./layout/layout

block variables
  - var title = "Dream Team — Molfar Beauty Forum"
  - var description = "Профессиональный командный конкурс бьюти-индустрии. Командные состязания с главным призом 100 000 гривен"
  - var ogImage = "/img/og-image--dream-team.jpg"
  - var ogImageSecure = "/img/og-image--dream-team.jpg"
  - var pageModifier = "page--dream-team"
  - var current_url = "/dream-team.html"

block content
  include dream-team__hero/dream-team2020__hero
  include dream-team__about/dream-team2020__about
  include dream-team__theme/dream-team2020__theme
  include dream-team__last-year-winner/dream-team2020__last-year-winner
  include dream-team__prize/dream-team__prize
  include ./commercial/commercial
  include dream-team__how-it-works/dream-team__how-it-works
  include dream-team__judges/dream-team__judges
  include ./commercial/commercial
  include ./sponsors/sponsors
  include dream-team__registration/dream-team__registration
  include photoswipe/photoswipe
  include dream-team__registred/dream-team__registred

block script
  script(defer src="/js/dream-team.min.js")
