extends ./layout/layout

block variables
  - var title = "Miss Molfar"
  - var description = "Miss Molfar"
  - var ogImage = "/img/og-image.jpg"
  - var ogImageSecure = "/img/og-image.jpg"
  - var pageModifier = "page--index"
  - var current_url = "/miss-molfar.html"

block content
