extends ./layout/layout

block variables
  - var title = "Molfar Beauty Forum 2019 Rewind"
  - var description = "Как это было в 2020 году — Molfar Beauty Forum"
  - var ogImage = "/img/og-image.jpg"
  - var ogImageSecure = "/img/og-image.jpg"
  - var pageModifier = "page--throwback"
  - var current_url = "/throwback2020.html"

block content
  include throwback2020/throwback2020__hero
  include throwback2020/throwback2020__blocks
