extends ./layout/layout

block variables
  - var title = "Константин Константинопольский — тема вебинара — Molfar Online"
  - var description = "Константин Константинопольский — тема вебинара на Molfar Online"
  - var ogImage = ""
  - var pageModifier = "webinar--error"

block content
  include webinar-error/webinar-error

block script
