extends ./layout/layout

block variables
  - var title = "Вебинары — Molfar Beauty Forum"

  - var description = "Вебинары. Предстоящие и прошедшие"

  //- - var ogImage = "/img/og-image.jpg"
  //- - var ogImageSecure = "/img/og-image.jpg"
  - var pageModifier = "page--webinar"
  - var current_url = "/webinar.html"

block content
  include webinar/webinar__hero
  include webinar/webinar__webinars

block script
  script(defer src="/js/webinars.min.js")
