extends ./layout/layout

block variables
  - var title = "Константин Константинопольский — тема вебинара — Molfar Online"
  - var description = "Константин Константинопольский — тема вебинара на Molfar Online"
  - var ogImage = ""
  - var pageModifier = "webinar--buying"

block content
  include form-webinar/form-webinar

block script
  //- script(defer src="/js/order.min.js")
  //- script.
  //-   tabby.init();
