mixin webinar(title)
  +b.LI.webinar.__item
    +e.header
      +e.heading-wrapper
        +e.H3.heading
          +e.A.title(href='')= title
      +e.date-wrapper
        +e.TIME.date(datetime='2019-10-12 18:00') 12 октября
      +e.price-wrapper
        +e.P.price 1 000 ₴

    +e.body
      +e.text-wrapper
        +e.P.text На вебинаре мы разберем горизонтальный градиент, вертикальный, растушевку в 3 и более цветов, расскажем о всех секретах линеарного обмре, покажем как победить в градиенте крупные блестки.
        +e.P.text Но это еще не все! Мы также затрнем большую тему цветового круга и правильного сочетания цветов: ты поймешь почему смешивая цвета может получится грязь.
        +e.P.text Все участники вебинара получат персональную скидку на линейку QWERTY.
      +e.side-wrapper
        +e.img-wrapper.loading
          +e.IMG.img.lazyload(
            data-srcset="../img/webinar/IMG_9051a-e1539958662764.jpg 900w",
            data-src="../img/webinar/IMG_9051a-e1539958662764.jpg",
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            alt="")
        +e.P.text--time
          time(datetime='2019-10-12 18:00') 18:00 – 21:00
        +e.P.text Планируем небольшой перерыв после 19:30
        +e.P.text--featured 7 участников

    +e.button-wrapper
      +b.A.button--webinar-active.__button
        span Записаться

//- mixin webinar-inactive(title)
//-   +b.LI.webinar.__item
//-     +e.header
//-       +e.heading-wrapper
//-         +e.H3.heading
//-           +e.A.title(href='#')= title
//-       +e.date-wrapper
//-         +e.TIME.date(datetime='2019-10-12 19:00') 12 октября
//-       +e.price-wrapper
//-         +e.P.price 1 000 ₴
//-       +e.button-wrapper
//-         +b.A.button--webinar-inactive.__button
//-           span Посмотреть

+b.SECTION.webinars
  +e.container.container
    +b.H1.title--webinar.__title
      span Предстоящие
      br
      span вебинары

    +e.OL.list
      +webinar('Константин Константинопольский — моделирование и окрашивание бровей')
      +webinar('Константин Константинопольский — моделирование и окрашивание бровей и окрашивание бровей и окрашивание бровей')
      +webinar('Константин Константинопольский — моделирование и окрашивание бровей')
      //- +webinar-inactive('Моделирование и окрашивание бровей — Константин Константинопольский')
      //- +webinar-inactive('Моделирование и окрашивание бровей и окрашивание бровей и окрашивание бровей — Константин Константинопольский')
      //- +webinar-inactive('Моделирование и окрашивание бровей — Константин Константинопольский')
