extends ../layouts/main

block variables
  - var title = "Molfar Beauty Forum"
  - var description = "Главная бьюти-конференция в Украине"
  - var ogImage = "/img/hero/index__hero_1280.jpg"
  - var ogImageSecure = "/img/hero/index__hero_1280.jpg"
  - var pageModifier = "page--dreamteam"
  - var current_url = "/dreamteam.html"

block content
  include dreamteam/dreamteam__hero
  include dreamteam/dreamteam__about
  include dreamteam/dreamteam__how-it-works
  include dreamteam/dreamteam__judges
  include dreamteam/dreamteam__sponsors
  include dreamteam/dreamteam__registration

block script
  //- script(src="/js/dreamteam.min.js")
