+b.SECTION.webinar-success
  +e.container.container
    +e.HEADER.heading
      +b.H1.title--webinar-success.__title Проверьте почту
      +e.P.text Вы успешно записались на вебинар. На указанную почту выслано письмо с инструкциями.
      +b.A.button--webinar-success(href="") #[span Запишите друга]
