form.form.form--webinar(name="webinar")
  p.form__line
    label.form__label
      | Имя
      input.form__input(type="text", placeholder="Анастасия", name="name",data-invalid-msg="Введите имя", required)
      //- span.form__mistake Текст ошибки
  p.form__line
    label.form__label
      | Фамилия
      input.form__input(type="text", placeholder="Ресничкина",data-invalid-msg="Введите фамилию", name="lastname", required)
      //- span.form__mistake Текст ошибки
  p.form__line
    label.form__label
      | Телефон
      input.form__input#tel(type="tel", placeholder="+380 (00) 000 00 00", name="phone", data-invalid-msg="Введите телефон", required)
      //- span.form__mistake Текст ошибки
  p.form__line
    label.form__label
      | Адрес электронной почты
      input.form__input(type="email", placeholder="anastasia@mail.com", name="email", data-invalid-msg="Введите E-mail", required)
      //- span.form__mistake Текст ошибки
  p.form__line
    label.form__label
      | Комментарий (не обязательно)
      textarea.form__textarea#textarea(rows="5", maxlength="65535", name="comment")

  button.form__button.button.button--unfilled
    span Оплатить
