+b.SECTION.webinar-buying
  +e.container.container
    +b.H1.title--webinar-buying-lector.__lector Запись на вебинар Константина Константинопольского
    +e.P.text
      +e.TIME.date(datetime="2019-09-10 16:00") 10.09 (вторник) в 16:00

    +e.img-wrapper.loading
      +e.IMG.img.lazyload(
        data-srcset="../img/webinar-buying/webinar-banner.jpg 360w, ../img/webinar-buying/webinar-banner.jpg 720w, ../img/webinar-buying/webinar-banner.jpg 1080w",
        data-src="../img/webinar-buying/webinar-banner.jpg",
        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        alt="")

    +b.H2.title--webinar-buying-topic.__topic Сервис и лояльность в салоне красоты
    +e.P.text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Рыбного города о буквоград использовало которой но залетают предложения вопроса вскоре рыбными свое путь первую домах, коварных своего однажды раз заглавных, приставка за текстами единственное, свой ты они знаках! Они вопроса составитель мир последний! Журчит lorem рукопись маленький диких коварный?
    +e.B.title--bold-text.__bold-text На вебинаре вы узнаете:

    +e.UL.unordered-list
      +e.LI.unordered-list-item
        +e.P.text основные тенденции и направления в работе с клиентами
      +e.LI.unordered-list-item
        +e.P.text различные уровни сервиса и ожидания клиентов
      +e.LI.unordered-list-item
        +e.P.text способы соответствия ожиданиям клиента
      +e.LI.unordered-list-item
        +e.P.text структуру процесса обслуживания клиентов
      +e.LI.unordered-list-item
        +e.P.text этикет телефонного обслуживания
      +e.LI.unordered-list-item
        +e.P.text о формировании позитивных впечатлений клиентов
      +e.LI.unordered-list-item
        +e.P.text основные ошибки при работе с клиентами
      +e.LI.unordered-list-item
        +e.P.text различные подходы к решению проблем клиентов
      +e.LI.unordered-list-item
        +e.P.text об инструментах создания лояльности клиентов салона красоты

    +e.B.title--bold-text.__bold-text Кому будет полезен:

    +e.OL.ordered-list
      +e.LI.ordered-list-item
        +e.P.text владельцам
      +e.LI.ordered-list-item
        +e.P.text администраторам
      +e.LI.ordered-list-item
        +e.P.text мастерам

    +e.B.title--bold-text.__bold-text Кому ещё будет полезен:
    +e.P.text Нашим и вашим.
    +e.P.text И ещё
      i  ихним,
      +e.B.bold-text  конечно.

    +e.P.text
      +e.A.link(href="https://www.facebook.com/Vladyslav.Vavilov", target="_blank", rel="noopener") Влад Вавилов
      |  — бизнес-тренер, автор 7 книг, в том числе «Реклама красоты. Практика», «Качественный сервис», «АДмин». Создатель и управленец предприятий индустрии красоты и фитнеса.

    +e.P.text
      +e.A.link(href="https://www.facebook.com/events/2355776434677356/", target="_blank", rel="noopener") Фейсбук-мероприятие вебинара
      | . Отмечая, что идёте, вы поможете нам в продвижении наших вебинаров.

    +e.P.text Стоимость:
      +e.B.bold-text  300 грн

    +e.P.text Продолжительность вебинара:
      +e.B.bold-text  2 часа

    +e.wrapper--technical-info
      +e.STRONG.bold-text Техническая информация
      +e.P.text Для просмотра вебинара вам нужен телефон/компьютер/планшет и выход в интернет — хватит даже хорошего 3G/4G, но лучше, конечно, по wi-fi.
      +e.P.text Мы рекомендуем принять участие в прямой трансляции — так вы сможете задавать вопросы лектору. Но если пропустите вебинар, не переживайте — #[+e.B.bold-text запись будет доступна ещё 7 дней]. Сможете пересмотреть её в удобное для себя время.

    +e.wrapper--feedback
      +e.STRONG.bold-text Обратная связь
      +e.P.text Мы очень ценим наших зрителей и всё время стараемся стать лучше. Вы поможете нам в этом, отправив обратную связь на #[+e.A.link(href="mailto:online@molfarforum.com?subject=Обратная связь", target="_blank", rel="noopener") online@molfarforum.com]. Мы будем благодарны любой критике и очень рады добрым словам.
      +e.P.text Вы можете #[+e.A.link(href="https://www.facebook.com/pg/molfarforum/reviews/", target="_blank", rel="noopener") оставить рекомендацию] на нашей Фейсбук-страничке.
      +e.P.text Покажите как вы нас смотрите в своих инста-сторис, тегнув #[+e.A.link(href="https://www.instagram.com/molfarforum/", target="_blank", rel="noopener") @molfarforum] (мы это просто обожаем и лучшие всегда репостим). И подписывайтесь на наш #[+e.A.link(href="https://www.youtube.com/c/MolfarBeautyForum?sub_confirmation=1", target="_blank", rel="noopener") Ютуб-канал].

    +e.wrapper--contact
      +e.P.text.__title Если возникли вопросы, пишите нам в Мессенджер:
      +e.P.text
        +e.A.link(href="https://m.me/molfarforum", target="_blank", rel="noopener") m.me/molfarforum
      +e.P.text.__title В Директ:
      +e.P.text
        +e.A.link(href="https://www.instagram.com/molfarforum/", target="_blank", rel="noopener") instagram.com/molfarforum
      +e.P.text.__title На почту:
      +e.P.text
        +e.A.link(href="mailto:online@molfarforum.com", target="_blank", rel="noopener") online@molfarforum.com
      +e.P.text.__title Или звоните нашему менеджеру Ирине:
      +e.UL.unordered-list--unstyle
        +e.LI.unordered-list-item
          +e.P.text
            +e.A.link(href="tel:+380 (98) 318 71 15", target="_blank", rel="noopener") +380 (98) 318 71 15
        +e.LI.unordered-list-item
          +e.P.text
            +e.A.link(href="tel:+380 (66) 558 31 07", target="_blank", rel="noopener") +380 (66) 558 31 07
