+b.SECTION.webinar-error
  +e.container.container
    +e.HEADER.heading
      +b.H1.title--webinar-error.__title Не получилось 😢
      +e.P.text Платёж был отменен. Попробуйте ещё или свяжитесь с вашим банком.
      +b.A.button--webinar-error(href="") #[span Попробуйте ещё]
