mixin judge(srcName, name, description)
  li.card.card--judge.judges__card
    .card__img-wrapper.loading
      img.card__img.lazyload(
        data-srcset="./img/lectors/"+srcName+"_290.jpg 300w, ./img/lectors/"+srcName+"_580.jpg 600w, ./img/lectors/"+srcName+"_870.jpg 900w",
        data-src="./img/lectors/"+srcName+"_290.jpg",
        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==",
        alt=name)
    h3.card__name= name
    p.card__about= description

section.judges
  .judges__container.container
    .judges__title-wrapper
      h2.judges__title Судьи
      p.judges__description Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Дороге текст лучше, текстами, решила дал власти эта они которой грамматики буквоград свою! Оксмокс, инициал!
      a.judges__button.judges__button--title.button.button--unfilled-blue(href="/rules.html")
        span Регламент конкурса

    ul.judges__list
      +judge("sakelary", "Ксения Сакелари", "Далеко-далеко за словесными горами")
      +judge("sakelary", "Ксения Сакелари", "Далеко-далеко за словесными горами")
      +judge("sakelary", "Ксения Сакелари", "Далеко-далеко за словесными горами")
      +judge("sakelary", "Ксения Сакелари", "Далеко-далеко за словесными горами")
      +judge("sakelary", "Ксения Сакелари", "Далеко-далеко за словесными горами")
      +judge("sakelary", "Ксения Сакелари", "Далеко-далеко за словесными горами")
      +judge("sakelary", "Ксения Сакелари", "Далеко-далеко за словесными горами")
      +judge("sakelary", "Ксения Сакелари", "Далеко-далеко за словесными горами")

    //- TODO: Сделать JSON магию
    //- button.judges__more Все судьи (??)

    a.judges__button.button.button--unfilled-blue(href="/rules.html")
      span Регламент конкурса
