section.hero.hero--dreamteam.lazyload
  .hero__container.container
    h1.hero__title.visually-hidden Molfar Dream Team 2019
    p.hero__description.hero__description--dreamteam #[time(datetime="2018-09-01") 1 сентября ‘18 — 1 апреля ‘19]
    strong.hero__title.hero__title--dreamteam 100 000 гривен за лучший образ «Звёздной Невесты»
    a.hero__button.button.button--blue(data-scroll href="#registration")
      span Принять участие
