section.registration#registration
  .registration__container.container
    .registration__title-wrapper
      h3.registration__title Остались вопросы?
      p.registration__description Позвоните или напишите нам

    ul.registration__contacts
      li.registration__contact-wrapper
        a.registration__contact(href="tel:+380665583107") +38 066 558 31 07
      li.registration__contact-wrapper
        a.registration__contact(href="tel:+380983187115") +38 098 318 71 15
      li.registration__contact-wrapper
        a.registration__contact(href="mailto:molfar.dreamteam@gmail.com?subject=Dream Team 2019") molfar.dreamteam@gmail.com

    .registration__socials
      b.registration__socials-title Хотите быть в курсе новостей?
      p.registration__socials-description Подписывайтесь на нас в #[a.registration__socials-link(href="https://www.facebook.com/molfarforum", target="_blank", rel="noopener") facebook] и #[a.registration__socials-link(href="https://www.instagram.com/molfarforum/", target="_blank", rel="noopener") instagram]

    include ../../modules/dt-form
