section.hero.hero--throwback
  .hero__container.container
    .hero__title-wrapper
      h1.hero__title.hero__title--throwback.visually-hidden Molfar Beauty Forum ‘19
      strong.hero__title.hero__title--throwback Как это было в 2019 году
      p.hero__description.hero__description--throwback Дебют в 18-м был хорош. Но судят по второму альбому

    .hero__video-wrapper
      .hero__video.loading
        iframe.lazyload(data-src="https://www.youtube.com/embed/Kel9ADPbLbM?rel=0&amp;showinfo=0" width="560" height="315" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
