section.last-year-winner.lazyload
  .last-year-winner__container.container
    h3.last-year-winner__title-wrapper
      span.last-year-winner__description Победитель Dream Team ‘19
      strong.last-year-winner__title Winners
      span.last-year-winner__text Киев, Украина
