.hero
  display: flex
  min-height: 100vh
  margin-bottom: 100px

  color: #fff

  background-color: #000

  // Летающие ромбики
  canvas

    &#particles2
      z-index: 1

      opacity: 0

      animation: fade-in 3s 2.5s ease forwards

    +bp-minmax(1025, 1440)
      opacity: 0

      animation: fade-in 3s 1.5s ease forwards

  //  Картинка-ромб
  &__bg-wrapper
    position: absolute
    overflow: hidden
    // z-index: 0

    +size(100%)

  &__bg
    position: absolute
    // z-index: -1

    +size(100%)

    +bp-min(768)
      top: -10%
      right: -10%
      overflow: hidden

      +size(704.5px)

      border-radius: 50px
      transform: rotate(45deg)

    +bp-min(1024)
      +size(713.5px)

    +bp-min(1441)
      top: auto
      right: auto

      +size(100%)

      border-radius: 0

      transform: rotate(0)

    &::before
      content: ""
      position: absolute

      +size(100%)

      +bgi("../img/hero/hero2020_640.jpg", "../img/hero/hero2020_1280.jpg")
      background-repeat: no-repeat
      background-size: cover
      background-position: 50%

      +bp-minmax(768, 1440)
        top: 14%
        left: -5%

        +size(110%)
        transform: rotate(-45deg)
        border-radius: 50px

      +bp-min(1024)
        +bgi("../img/hero/hero2020_1280.jpg", "../img/hero/hero2020_2560.jpg")

      +bp-min(1920)
        +bgi("../img/hero/hero2020_2560.jpg", "../img/hero/hero2020_3840.jpg")

    &::after
      content: ""
      position: absolute

      +size(100%)

      background-color: rgba(#000, .5)

      +bp-minmax(768, 1440)
        display: none

  // Контент
  &__container
    z-index: 2

    flex-grow: 1
    align-self: center

    &--index

      +bp-min(768)
        align-self: flex-end
        margin-bottom: 10%

      +bp-minmax(768, 1440)
        color: #333

        .hero__title
          +text-gradient()

  &__title-wrapper
    max-width: 510px
    +mg(auto)

  &__title
    max-width: 510px
    display: block
    margin-bottom: 15px

    font-size: $font-size-mobile--h1
    font-family: $font-family--headings
    font-weight: 700
    line-height: 1.15
    color: currentColor

    &--throwback
      max-width: none

      text-align: center

    &--dream-team
      max-width: 450px
      +mg-bottom(30px)

  br
    display: none

    +bp-min(600)
      display: block

  &__description
    margin-bottom: 40px

    font-size: 18px
    font-weight: 700

    &--throwback
      font-size: 12px
      font-weight: 400
      text-align: center

    &--dream-team
      display: inline-flex
      padding: 2px 12px 3px
      margin-bottom: 5px

      font-size: 14px
      font-weight: 700
      white-space: nowrap

      background-image: $gradient--dream-team
      border-radius: 4px

  &__button

    &:not(:last-child)
      margin-bottom: 30px

  a.hero__button
    font-size: 14px

  &__video-wrapper
    max-width: 800px
    +mg(auto)

    +bp-min(1440)
      max-width: 70% // (?)

  &__video
    position: relative

    padding-bottom: 56.25% // Comes from the aspect ratio 16:9. 9/16x100 = 56.25

    overflow: hidden

    iframe
      position: absolute
      top: 0
      left: 0

      height: 100%
      width: 100%

  &--index

    +bp-minmax(768, 1440)
      background-color: #fff

  &--throwback
    // Отбивка от фикcированного хедера
    padding-top: 60px

  &--dream-team
    position: relative

    margin-bottom: 0

    text-align: center

    +bgi("../img/hero/dream-team-hero2020_640.jpg", "../img/hero/dream-team-hero2020_1280.jpg")
    background-size: cover
    background-repeat: no-repeat
    background-position: 50% 0%

    overflow: hidden

    &::before // серая плашка для читабельности
      content: ""
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      z-index: 1

      background-image: linear-gradient(263.21deg, rgba(79, 79, 79, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%)

    &::after
      content: ""
      position: absolute
      left: -1px // закрыть линию
      bottom: -2px // закрыть линию
      z-index: 3

      +size(101%, 100%) // закрыть линию

      background-image: url(../img/hero/dream-team__hero-decoration.svg)
      background-position: 50% 100%
      background-size: contain
      background-repeat: no-repeat

      +bp-min(1024)
        bottom: -5vh // чуть ниже, чтобы дать больше картинки на больших экранах

    +bp-min(480)
      text-align: left

    +bp-min(1200)
      +bgi("../img/hero/dream-team-hero2020_2560.jpg", "../img/hero/dream-team-hero2020_3840.jpg")

    .hero__container
      z-index: 4 // чтобы быть выше плашки

    br
      display: block

      +bp-min(600)
        display: none

    .hero__button
      +mg(auto)

      +bp-min(480)
        +mg(0)

  &--recreation

    .hero__container
      align-self: start
      margin-top: 50px // (?)

      text-align: center

      +bp-min(768)
        margin-top: 100px // (?)

    .hero__title
      display: inline-block

    .hero__description
      margin-bottom: 0

      font-size: 12px
      font-weight: 400

  &--webinar
    background-size: cover
    background-position: center
    +bgi("../img/hero/webinar__hero.jpg", "../img/hero/webinar__hero.jpg")
