.last-year-winner
  position: relative

  min-height: 100vh // 550px (iPhoneSE)
  display: flex
  align-items: flex-end

  color: #fff

  // background-color: #000 !important

  +bp-min(768)
    min-height: 100vmin // 550px (iPhoneSE)

  &.lazyloaded

    &::before
      content: ""
      position: absolute

      // max-width: 1440px
      +size(100%)

      background-size: cover
      background-repeat: no-repeat

      +bgi("../img/last-year-winner/dream-team2020__last-year-winner_640.jpg", "../img/last-year-winner/dream-team2020__last-year-winner_1280.jpg")

      // +bp-min(600)
      //   // зеркальный зазор от секции выше
      //   top: 10vmin

      +bp-min(1200)
        +bgi("../img/last-year-winner/dream-team2020__last-year-winner_2560.jpg", "../img/last-year-winner/dream-team2020__last-year-winner_3840.jpg")
        // background-size: cover
        // background-position: 100% 100%

  &__title-wrapper
    position: relative
    z-index: 0

    display: inline-flex
    flex-direction: column
    padding-bottom: 40px // В макете 80, но зачем?

    &::after
      content: ""
      position: absolute
      top: 0
      left: 0
      transform: translate(-25%, -30%)
      z-index: -1

      +size(400px)

      background-image: url(../img/last-year-winner/dream-team__last-year-decoration.svg)
      background-repeat: no-repeat
      background-size: contain

      +bp-min(768)
        transform: translate(-50%, -25%)

        +size(800px)

      +bp-min(1440)
        // отцентрируем кружок по тексту для больших экранов
        left: 50%
        transform: translate(-50%, -35%)

  &__description
    +mg-bottom(5px)

    font-size: 14px
    font-weight: 900

  &__title
    +mg-bottom(5px)

    font-size: 36px
    font-weight: 700

  &__text
    +mg-bottom(5px)

    font-size: 12px
    font-weight: 400
    color: #f2f2f2
