.theme
  position: relative

  min-height: 100vh // 550px (iPhoneSE)
  display: flex
  align-items: flex-end

  background-color: transparent !important

  &::before
    content: ""
    position: fixed
    top: 0
    left: 0
    z-index: -1

    width: 100%
    min-height: 100vh // 550px (iPhoneSE)
    display: block

    background-size: cover
    background-repeat: no-repeat
    background-position: 50% 0
    +bgi("../img/theme/dream-team-theme2020_640.jpg", "../img/theme/dream-team-theme2020_1280.jpg")

    +bp-min(1200)
      +bgi("../img/theme/dream-team-theme2020_2560.jpg", "../img/theme/dream-team-theme2020_3840.jpg")

  // Декорация
  &::after
    content: ""
    position: absolute
    bottom: -6vmax
    z-index: 1

    +size(100%)

    background-image: url(../img/theme/dream-team2020__theme-decoration.svg)
    background-position: bottom
    background-size: 425% // iPhone SE
    background-repeat: no-repeat

    +bp-min(359) // 360 × 640
      background-size: 350%

    +bp-min(400) // Pixel 2, iPhone 8 Plus
      background-size: 300%

    +bp-min(600) // iPad
      background-size: 150%

    +bp-min(900)
      // bottom: -10vmax
      // background-size: cover
      // background-position: 70%

    +bp-min(1440)
      +size(100%, 124%)
      background-image: url(../img/theme/dream-team2020__theme-decoration_4k.svg)
      background-size: cover
      bottom: -9vmax

    +bp-min(1440)
      +size(100%)
      background-image: url(../img/theme/dream-team2020__theme-decoration_4k.svg)
      background-size: 125%
      bottom: -1vmax

  &__container
    z-index: 2

    max-width: 85%
    +mg(unset)

    +bp-min(400)
      max-width: 1440px
      +mg(auto)

    +bp-minmax(1100, 1439)
      margin-bottom: 8vw

    +bp-min(1440)
      margin-bottom: 2vw

  &__title
    margin-bottom: 10px

    font-size: 24px
    // text-align: center

    +text-gradient($gradient--dream-team)

    +bp-min(400)
      max-width: 350px

    +bp-min(768)
      font-size: 36px
      text-align: left

  &__description
    color: $dt

    &:not(:last-child)
      margin-bottom: 1em

    +bp-min(400)
      max-width: 350px
