.title

  &--webinar
    position: relative

    max-width: unset
    margin-bottom: unset

    font-size: 36px
    color: #ffffff

    +bp-min(768)
      font-size: 64px

    +bp-min(1024)
      font-size: 96px

    br
      font-size: 0
      line-height: 0

    span
      position: relative

      display: inline-block
      +pd(8px)
      padding-bottom: 12px

      +bp-min(1024)
        +pd(14px)
        padding-bottom: 14px

      &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        z-index: -1

        +size(100%)

        background-color: $accent--webinar
