.webinar
  max-width: 1080px
  display: grid
  grid-template-columns: [start] 1fr [center] auto [end]
  padding-top: 15px
  padding-bottom: 30px
  +pd(10px)

  border: 1px solid rgba(#333, .25)
  overflow: hidden

  +bp-min(768)
    +pd(15px)

  +bp-min(1024)
    +pd(20px)

  /* accordion CSS start */
  &.js-enabled > .webinar__body
    visibility: hidden

  &.is-active > .webinar__body
    visibility: visible
    margin-top: 10px // padding нельзя. Проверить на FPS

    +bp-max(767)
      margin-bottom: 30px // padding нельзя. Проверить на FPS

    +bp-min(768)
      margin-top: 20px // padding нельзя. Проверить на FPS

    +bp-min(1024)
      margin-top: 30px // padding нельзя. Проверить на FPS

  &__body
    overflow: hidden
  /* accordion CSS end */

  // &:hover
  //   background-color: #e5e5e5

  /* header blocks start */
  &__header
    display: grid
    grid-template-columns: [start] 1fr [center] 1fr [end]
    grid-row-gap: 20px
    margin-bottom: 20px

    +bp-min(768)
      grid-template-columns: [start] minmax(280px, 476px) [date] auto [price] auto [button] auto [end]
      grid-row-gap: unset
      grid-column-gap: 20px
      align-items: center
      margin-bottom: 0

  &__heading-wrapper
    grid-column: start / end

    +bp-min(768)
      grid-column: start / date

  &__date-wrapper
    grid-column: start

    +bp-min(768)
      grid-column: date / price
      justify-self: end

  &__price-wrapper
    grid-column: center
    justify-self: end

    +bp-min(768)
      grid-column: price / button
  /* header blocks end */

  /* header typo start */
  &__heading
    font-size: 16px
    font-weight: unset
    line-height: 1.25

    +bp-min(1024)
      font-size: 24px

  &__title
    +link-d($text-color, $text-color)

  &__date
    color: $text-color--inactive
    white-space: nowrap

    +bp-min(1024)
      font-size: 18px

  &__price
    color: $text-color--inactive
    white-space: nowrap

    +bp-min(1024)
      font-size: 18px
  /* header typo end */

  /* body blocks start */
  &__body
    grid-row: 2
    grid-column: start / end
    display: grid

    +bp-min(768)
      grid-row: 2
      grid-column: start / end
      grid-template-columns: [start] minmax(430px, 1fr) minmax(50px, 90px) [gap] minmax(200px, 300px) [end]

  &__side-wrapper

    +bp-max(767)
      order: -1
      margin-bottom: 20px

    +bp-min(768)
      grid-row: 1
      grid-column: gap / end

  &__img-wrapper
    +img(100%, 100%)
    margin-bottom: 10px

    +bp-min(1024)
      margin-bottom: 15px
  /* body blocks end */

  /* body typo start */
  &__body

    +bp-min(1024)
      font-size: 18px

  &__text
    +mg-bottom(.7em)

    &--featured
      color: $accent--featured

  &__side-wrapper
    color: $text-color--inactive
  /* body typo end */

  /* button start */
  &__button-wrapper
    grid-column: start / end
    justify-self: center

    +bp-min(768)
      grid-row: 1
      grid-column: center / end
      justify-self: end
      align-self: center
  /* button end */
