.webinar-success,
.webinar-error
  height: calc(100vh - (128px + 60px)) // Минус хедер и футер
  +flex-center()

  &__container
    max-width: 700px

    +bp-min(1024)
      font-size: 18px

    text-align: center

  &__title
    margin-bottom: .3em

  &__text
    margin-bottom: .7em
