.webinar-buying
  max-width: 700px
  +mg(auto)
  margin-bottom: 50px

  b,
  strong
    font-weight: 700

  i,
  em
    color: inherit

  &__container
    margin-top: 50px

    +bp-min(768)
      margin-top: 100px

    +bp-min(1024)
      font-size: 18px

  &__wrapper
    +mg-bottom(.7em)

    &--contact
      margin-top: 1.4em

  &__lector,
  &__topic

    +bp-min(1024)
      margin-bottom: 10px

  &__date
    // color: $text-color--inactive
    white-space: nowrap

  &__unordered-list
    list-style-type: disc
    list-style: '— '

    &--unstyle
      list-style-type: none

  &__ordered-list
    list-style-type: decimal

  &__unordered-list,
  &__ordered-list
    +mg-bottom(.7em)

    +bp-max(414)
      list-style-position: inside

  &__unordered-list-item > .webinar-buying__text,
  &__ordered-list-item > .webinar-buying__text

    +bp-max(414)
      display: inline

  &__text
    +mg-bottom(.7em)

  &__title // для малых заголовков
    +mg-bottom(unset)

  &__unordered-list-item,
  &__ordered-list-item
    +mg-bottom(.35em)

  &__link
    color: $accent--featured

    &:visited
      color: darken($accent--featured, 25%) // ?
