section.theme
  .theme__container.container
    h3.theme__title Что такое #[br]гала-образ?
    p.theme__description На тему конкурса мы вдохновились самой модной вечеринкой года — Met Gala.
    p.theme__description Гала-образ — это демонстрация самых эффектных и актуальных трендов
