section.guests

  .guests__container.container

    .guests__title-wrapper
      .guests__layer(data-rellax-speed="2" style="background-image: url(./img/guests/rombus_layer-1.png);")
      .guests__layer(data-rellax-speed="1" style="background-image: url(./img/guests/rombus_layer-2.png);")
      .guests__layer(data-rellax-speed="1" style="background-image: url(./img/guests/rombus_layer-3.png);")
      h2.guests__title Для кого Molfar Forum?
      p.guests__description Мы собрали лучших представителей индустрии красоты, готовых делиться опытом. Спикеры расскажут о бьюти-трендах года, способах повысить доход и стать известнее

    ul.guests__list

      li.card.card--guest.guests__card.guests__card--hair.lazyload
        h3.card__name Парикхмахер-колорист
        p.card__about Подсмотрите главные фишки стрижки и окрашивания в 2020 году у ведущих парикмахеров Украины и зарубежья

      li.card.card--guest.guests__card.guests__card--nails.lazyload
        h3.card__name Мастер ногтевого сервиса
        p.card__about Узнайте самое важное о стилистике ногтей и дизайнах, актуальных вне времени. Педикюр без знаний подологии уже мало кому интересен, научитесь этому быстрее вместе с нами

      li.card.card--guest.guests__card.guests__card--visage.lazyload
        h3.card__name Визажист
        p.card__about Научитесь наносить макияж на тысячи лайков. Послушайте от чего отказываются продвинутые визажисты в 2020 году

      li.card.card--guest.guests__card.guests__card--marketing.lazyload
        h3.card__name Маркетолог
        p.card__about Что нужно знать о правильном SMM для салона красоты. Как превращать пользователей в подписчиков, подписчиков в клиентов, а клиентов — в деньги

      li.card.card--guest.guests__card.guests__card--manager.lazyload
        h3.card__name Владелец салона
        p.card__about Узнайте, как правильно любить клиента, чтобы он полюбил ваш салон в ответ и хранил ему верность долгие годы

      li.card.card--guest.guests__card.guests__card--vendor.lazyload
        h3.card__name Поставщик
        p.card__about После участия в Форуме у поставщиков пустеют полки и расширяется клиентская база. Мастера и владельцы салонов будут рады купить лучший товар по лучшей цене

    a.guests__button.button.button--red(data-scroll href="#tickets")
      span Приобрести билет
