section.hero.hero--dream-team
  .hero__container.container
    h1.hero__title.visually-hidden Molfar Gala. Dream Team 2022
    p.hero__description.hero__description--dream-team #[time(datetime="2020-09-29") 29 сентября ‘22 — 30 сентября ‘22]
    strong.hero__title.hero__title--dream-team 100 000 гривен за лучший #[br] гала-образ
    a.hero__button.button.button--blue(data-scroll href="#registration")
      span Принять участие
