section.about
  .about__container.container
    h2.about__title Что такое Dream Team?

    .about__video-wrapper
      .about__video.loading
        iframe.lazyload(data-src="https://www.youtube.com/embed/Rlre5QtKVpY?rel=0&amp;showinfo=0" width="560" height="315" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)

    .about__description-wrapper
      p.about__description.about__description--text Командный конкурс, который помогает парикмахерам, визажистам и мастерам маникюра проявить себя в командной роботе и посостязаться за звание лучшей команды года и гран-при
      p.about__description.about__description--big
        b 100 000 гривен
